@import "../../shared/styles/variables";
@import "../../shared/styles/mixins";

.zind {
  z-index: 555;
}
a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
b {
  font-weight: bold;
}

.rr {
  display: flex;
}
.header {
  @include wAndH(100%, 110px);
  display: flex;
  justify-content: space-between;
  z-index: 2000;
}
.logo {
  @include wAndH(217px, 100%);
  @include dAndaAndj(flex, center, center);
  background-color: $primary;
}
.logo-img {
  @include wAndH(173px, 65px);
}

.main-menu {
  @include dAndaAndj(flex, center, center);
  height: 100%;
  margin-left: 5px;
  background-color: #fff;
}
.menu-bar {
  position: relative;
  @include wAndH(95px, 81px);
  @include dAndaAndj(flex, center, center);
  flex-wrap: wrap;
  font-weight: bold;
  font-size: 16px;
  outline: 2px solid transparent;
  border-radius: 10px;
  margin-right: 3px;
  cursor: pointer;
}
.menu-bar-items {
  padding-top: 80px;
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid $primary;
  border-radius: 10px;
  z-index: 10;
  width: 200px;
  background-color: #fff;
  .aclickk {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
}
.type-menu {
  @include wAndH(95px, 81px);
  @include dAndaAndj(flex, center, center);
  flex-wrap: wrap;
  font-weight: bold;
  font-size: 16px;
  outline: 2px solid transparent;
  border-radius: 10px;
  margin-right: 3px;

  span {
    width: 100%;
    text-align: center;
  }
}
.main-menu-img {
  @include wAndH(30px, 30px);
}
.main-menu-img-phone {
  @include wAndH(50px, 48px);
}
.contacts {
  @include dAndaAndj(flex, space-between, center);
  max-width: 600px;
  width: 100%;
  font-size: 14px;
}
.contacts-menu {
  @include dAndaAndj(flex, center, center);
  height: 46px;
  position: relative;
  padding-left: 10px;
  z-index: 1;
}
.contacts-phone {
  @include wAndH(202px, 46px);
  @include dAndaAndj(flex, center, center);
  background-color: $primary;
  border-radius: 10px;
  border: 2px solid transparent;
  transition-duration: 0.3s;
}
.contacts-img-phone {
  @include wAndH(12px, 20px);
  margin-right: 30px;
}
.contacts-user {
  position: relative;
  height: 81px;
  @include dAndaAndj(flex, center, center);
}
.contacts-user2 {
  display: none;
}
.number-info {
  @include wAndH(169px, 46px);
  @include dAndaAndj(flex, center, center);
  flex-wrap: wrap;
  text-align: center;
  a {
    font-weight: bold;
    font-size: 18px;
  }
  p {
    font-size: 14px;
  }
}
.contacts-img-user {
  @include wAndH(24px, 24px);
}

.basket {
  @include dAndaAndj(flex, center, center);
  width: 159px;
  background-color: $primary;
  cursor: pointer;
  img {
    @include wAndH(38px, 38px);
    margin-right: 15px;
  }
}
.basket-span {
  @include wAndH(26px, 26px);
  @include dAndaAndj(flex, center, center);
  position: absolute;
  top: 30px;
  right: 74px;
  background-color: white;
  border-radius: 50%;
  font-size: 18px;
}
//////////// BASKET WINDOW ////////////////
.basketData {
  z-index: 20;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.486);
}
.basketInfo {
  width: 664px;
  position: absolute;
  top: 0;
  right: 0;
  border-top: 1px solid rgba(128, 128, 128, 0.486);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #fff;
}
.basketProducts {
  width: 100%;
}
.basketCard-count {
  border: 1px solid rgba(128, 128, 128, 0.486);
  border-radius: 5px;
}
.productOrdered {
  @include dAndaAndj(flex, space-between, center);
  height: 110px;
  padding: 0 20px;
  border-top: 1px solid rgba(128, 128, 128, 0.486);
  .trashBasket-btn {
    height: 75px;
    background-color: transparent;
  }
  div {
    @include dAndaAndj(flex, space-between, center);
  }
  img {
    max-height: 80px;
  }
  button {
    height: 25px;
  }
  span {
    width: 45px;
    text-align: center;
    margin: 0 5px;
  }
}

.basketInfo-btn {
  width: 30px;
  height: 25px;
  background-color: #fff;
  border-radius: 5px;
  font-size: 20px;
}
.basketOrder {
  @include wAndH(100%, 80px);
  @include dAndaAndj(flex, space-between, center);
  background-color: $primary;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  span {
    margin-left: 20px;
    font-size: 22px;
  }
  button {
    margin-right: 20px;
    height: 40px;
    padding: 0 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(225, 225, 225);
    font-size: 20px;
  }
}
/////////////CAN////////////
.productOrdered {
  .can {
    display: flex;
    justify-content: center;
    width: 25px;
    flex-wrap: wrap;
    background-color: #fff;
    .can-head {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 2px;
      transition-duration: 0.3s;
      .Can-h-1 {
        @include wAndH(11px, 5px);
        border: 1px solid #000;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        transition-duration: 0.3s;
      }
      .Can-h-2 {
        @include wAndH(25px, 10px);
        border: 1px solid #000;
        border-top-left-radius: 30%;
        border-top-right-radius: 30%;
        transition-duration: 0.3s;
      }
    }
    .can-body {
      @include dAndaAndj(flex, space-around, center);
      @include wAndH(25px, 35px);
      border: 1px solid #000;
      border-bottom-left-radius: 20%;
      border-bottom-right-radius: 20%;
      transition-duration: 0.3s;
      .Can-b-1 {
        @include wAndH(1px, 20px);
        background-color: #000;
        transition-duration: 0.3s;
      }
    }
  }
}
.productOrdered button :hover {
  .can-head {
    margin-bottom: 6px;
    transform: rotate(25deg);

    .Can-h-1 {
      border-color: $primary;
    }
    .Can-h-2 {
      border-color: $primary;
    }
  }
  .can-body {
    border-color: $primary;
    .Can-b-1 {
      background-color: $primary;
    }
  }
}
/////////LOGIN TABLE
// .mainLoginContainer {
//   @include wAndH(100%, 100%);
//   position: fixed;
//   top: 0;
//   left: 0;
//   background-color: rgba(128, 128, 128, 0.502);
//   z-index: 2000;
// }
// .btnExit {
//   width: 100%;
//   text-align: right;
//   span {
//     cursor: pointer;
//     transition-duration: 0.3s;
//   }
//   span:hover {
//     color: $primary;
//   }
// }
// .loginContainer {
//   @include wAndH(540px, 380px);
//   padding: 60px 50px;
//   display: flex;
//   // align-items: flex-start;
//   justify-content: center;
//   flex-wrap: wrap;
//   margin: 20% auto;
//   border-radius: 10px;
//   background-color: #fff;
//   p {
//     text-align: center;
//     width: 100%;
//     height: 35px;
//     font-size: 26px;
//     margin-bottom: 30px;
//   }
//   input {
//     width: 100%;
//     height: 35px;
//     margin-bottom: 20px;
//   }
//   button {
//     width: 100%;
//     height: 35px;
//     margin-bottom: 5px;
//     background-color: $primary;
//     font-size: 16px;
//     border-radius: 10px;
//   }
//   h4 {
//     font-size: 14px;
//     text-decoration: underline;
//     transition-duration: 0.3s;
//     cursor: pointer;
//   }
//   h4:hover {
//     color: $primary;
//   }
// }
.infoUserTop {
  text-align: center;
  position: fixed;
  top: 110px;
  right: 0;
  background-color: bisque;
}
////////HOVERS
///
.aclickk2:hover {
  color: $primary;
}
.contacts-phone:hover {
  background-color: transparent;
  border: 2px solid $primary;
}
.text-hover:hover {
  transition-duration: 0.3s;
  color: $primary;
}
.type-menu:hover {
  transition-duration: 0.3s;
  outline: 2px solid $primary;
  border-radius: 10px;
}
/////////////////////
.bText {
  color: $primary;
  font-weight: bold;
}
.zInd {
  z-index: 100;
}
////////

//////////////////MAX WIDTH 1600//////////////////////////////////////
///
///
@media screen and (max-width: 1600px) {
  .header {
    height: 95px;
  }

  .logo {
    width: 166px;
  }
  .logo-img {
    @include wAndH(136px, 51px);
  }

  .type-menu {
    @include wAndH(71px, 66px);
    font-size: 14px;
  }
  .main-menu-img {
    width: 28px;
  }

  .contacts {
    max-width: 500px;
    width: 100%;
    font-size: 12px;
    margin-right: 22px;
  }

  .contacts-menu {
    height: 36px;
  }
  .contacts-phone {
    height: 36px;
  }
  .number-info {
    @include wAndH(144px, 39px);
    a {
      font-size: 16px;
    }
    p {
      font-size: 12px;
    }
  }

  .basket {
    width: 134px;
    img {
      @include wAndH(38px, 38px);
      margin-right: 15px;
    }
    span {
      font-size: 16px;
    }
  }
  .basket-span {
    @include wAndH(22px, 22px);
    font-size: 16px;
    top: 27px;
    right: 63px;
  }
}

//////////////////MAX WIDTH 1350//////////////////////////////////////
///
///
@media screen and (max-width: 1350px) {
  .contacts {
    max-width: 400px;
    width: 100%;
  }

  .contacts-menu {
    // width: 36px;
    justify-content: center;
  }

  .contacts-phone {
    width: 36px;
    span {
      display: none;
    }
  }
  .contacts-img-phone {
    margin-right: 0;
  }
}

/////////////////////////////////MAX WIDTX 1200/////////////////////////
///
@media screen and (max-width: 1200px) {
  .header {
    height: 60px;
  }
  .logo {
    @include wAndH(136px, 100%);
  }

  .logo-img {
    @include wAndH(106px, 40px);
  }

  .main-menu {
    @include wAndH(100%, 60px);
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    border-top: 1px solid black;
    padding: 5px 0;
    margin-left: 0;
  }
  .type-menu {
    @include wAndH(25%, 50px);
    font-size: 14px;
  }
  .display-phone {
    display: none;
  }
  .main-menu-img {
    @include wAndH(30px, 30px);
  }

  .contacts {
    @include dAndaAndj(flex, space-around, center);
    max-width: 1200px;
    margin-right: 0;
  }
  .contacts-menu {
    @include dAndaAndj(flex, center, center);
    height: 50px;
  }
  .contacts-phone {
    @include wAndH(50px, 48px);
    background-color: transparent;
    //   border: 2px solid transparent;
  }
  .contacts-img-phone {
    @include wAndH(24px, 24px);
    margin-right: 0;
  }
  .number-info {
    display: none;
  }
  .contacts-user2 {
    @include dAndaAndj(flex, center, center);
  }
  .contacts-img-user2 {
    @include wAndH(38px, 38px);
  }

  .basket {
    width: 134px;
    img {
      @include wAndH(38px, 38px);
      margin-right: 2px;
    }
    .bs-span {
      display: none;
    }
    span {
      font-size: 12px;
    }
  }
  .basket-span {
    @include wAndH(15px, 15px);
    position: inherit;
  }
}
/////////////////////////////////MAX WIDTX 750/////////////////////////
///
@media screen and (max-width: 750px) {
  .logo {
    @include wAndH(70px, 100%);
    img {
      display: none;
    }
    background-image: url("https://firebasestorage.googleapis.com/v0/b/monosushi-85c62.appspot.com/o/images%2FheaderImg%2Flogo-mobile-icon.svg?alt=media&token=eaeb0961-fd29-44aa-b7b1-4d26aeb4604e");
    background-size: 40px, 40px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .contacts {
    width: 70%;
  }
  .basket {
    width: 70px;
    img {
      @include wAndH(30px, 30px);
    }
  }
}
